/**
 * html5doctor.com Reset Stylesheet (Eric Meyer's Reset Reloaded + HTML5 baseline)
 * v1.6.1 2010-09-17 | Authors: Eric Meyer & Richard Clark
 * html5doctor.com/html-5-reset-stylesheet/
 */

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

blockquote, q { quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after { content: ""; content: none; }

ins { background-color: #ff9; color: #000; text-decoration: none; }

mark { background-color: #ff9; color: #000; font-style: italic; font-weight: bold; }

del { text-decoration: line-through; }

abbr[title], dfn[title] { border-bottom: 1px dotted; cursor: help; }

table { border-collapse: collapse; border-spacing: 0; }

hr { display: block; height: 1px; border: 0; border-top: 1px solid #ccc; margin: 1em 0; padding: 0; }

input, select { vertical-align: middle; }



/**
 * Font normalization inspired by YUI Library's fonts.css: developer.yahoo.com/yui/
 */


body { font:13px/1.231 sans-serif; *font-size:small; } /* Hack retained to preserve specificity */
select, input, textarea, button { font:99% sans-serif; }

/* Normalize monospace sizing:
   en.wikipedia.org/wiki/MediaWiki_talk:Common.css/Archive_11#Teletype_style_fix_for_Chrome */
pre, code, kbd, samp { font-family: monospace, sans-serif; }


/**
 * Minimal base styles.
 */

/* Prevent mobile zooming while remain desktop zooming: github.com/shichuan/mobile-html5-boilerplate/issues/closed#issue/14 */
html { -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; } 

/* Accessible focus treatment: people.opera.com/patrickl/experiments/keyboard/test */
a:hover, a:active { outline: none; }

ul, ol { margin-left: 2em; }
ol { list-style-type: decimal; }

/* Remove margins for navigation lists */
nav ul, nav li { margin: 0; list-style:none; list-style-image: none; }

small { font-size: 85%; }
strong, th { font-weight: bold; }

td { vertical-align: top; }

/* Set sub, sup without affecting line-height: gist.github.com/413930 */
sub, sup { font-size: 75%; line-height: 0; position: relative; }
sup { top: -0.5em; }
sub { bottom: -0.25em; }

pre {
  /* www.pathf.com/blogs/2008/05/formatting-quoted-code-in-blog-posts-css21-white-space-pre-wrap/ */
  white-space: pre; white-space: pre-wrap; word-wrap: break-word;
  padding: 15px;
}

textarea { overflow: auto; } /* www.sitepoint.com/blogs/2010/08/20/ie-remove-textarea-scrollbars/ */

.iem7 legend { margin-left: -7px; }

/* Align checkboxes, radios, text inputs with their label by: Thierry Koblentz tjkdesign.com/ez-css/css/base.css  */
input[type="radio"] { vertical-align: text-bottom; }
input[type="checkbox"] { vertical-align: bottom; }
.iem7 input[type="checkbox"] { vertical-align: baseline; }

/* Hand cursor on clickable input elements */
label, input[type="button"], input[type="submit"], input[type="image"], button { cursor: pointer; }

/* Webkit browsers add a 2px margin outside the chrome of form elements */
button, input, select, textarea { margin: 0; }

/* Colors for form validity */
input:valid, textarea:valid   {  }
input:invalid, textarea:invalid {
   border-radius: 1px; -moz-box-shadow: 0px 0px 5px red; -webkit-box-shadow: 0px 0px 5px red; box-shadow: 0px 0px 5px red;
}
.no-boxshadow input:invalid, .no-boxshadow textarea:invalid { background-color: #f0dddd; }


/* These selection declarations have to be separate
   No text-shadow: twitter.com/miketaylr/status/12228805301
   Also: hot pink! */
::-moz-selection{ background: #FF5E99; color:#fff; text-shadow: none; }
::selection { background:#FF5E99; color:#fff; text-shadow: none; }

/* j.mp/webkit-tap-highlight-color */
a:link { -webkit-tap-highlight-color: #ddd; }

/* Make buttons play nice in IE:
   www.viget.com/inspire/styling-the-button-element-in-internet-explorer/ */
button {  width: auto; overflow: visible; }

/* Bicubic resizing for non-native sized IMG:
   code.flickr.com/blog/2008/11/12/on-ui-quality-the-little-things-client-side-image-resizing/ */
.iem7 img { -ms-interpolation-mode: bicubic; }


/* Primary Styles
    Author: 
 */
 
body {
    background-color: #fff;
    font-size: 14pt;
} 
 
h2 {
    font-size: 16pt;
    margin-bottom: 6pt;
    font-weight: bold;
}

b {
    font-weight: bold;
}

#container {
}

#main {
}

.textareawrapper
{
    margin:0px 8px 0px 0px;
    padding:2px;
}

textarea#note {
    font-family:Consolas,Monaco,Lucida Console,Liberation Mono,DejaVu Sans Mono,Bitstream Vera Sans Mono,Courier New, monospace, serif;    
    width: 100%;
    padding: 2px;
    background-color: #ffc;
    margin-bottom: 30px;
}

textarea#note:focus {
 
}

table#menu_bar {
    width: 100%;
    background-color: rgb(230, 230, 230);
    background-image: -webkit-gradient(
        linear,
        left bottom,
        left top,
        color-stop(0.1, rgb(224,224,224)),
        color-stop(0.9, rgb(245,245,245))
    );
    background-image: -moz-linear-gradient(
        center bottom,
        rgb(224,224,224) 10%,
        rgb(245,245,245) 90%
    );
}

table#menu_bar tr td {
    padding: 2px;
    padding-bottom: 4px;
}

.button-mobile {
    display: inline-block;
    color: black;
    font-size: 14pt;
    height: 2em;
    border: solid 1px #ccc;
    padding: 2px 8px;
    text-shadow: 1px 1px 1px #fff;
    text-align: center;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    box-shadow: 1px 1px 1px #fff;
    -moz-box-shadow: 1px 1px 1px #fff;
    -webkit-box-shadow: 1px 1px 1px #fff;
    vertical-align: middle;
    cursor: pointer;
}

img.icon {
    width: 1.8em;
    height: 1.8em;
    vertical-align: middle;
}

.button-mobile img.icon {
    margin: 2px;
}

button.icon {
    text-align: center;
    height: 3em;
    padding: 2px;
}

td.button {
    width: 2em;
}

span#num_saved {
    /*display: inline-block;
    position: relative;
    z-index: 2;
    right: 1em;
    top: .25em;*/    
    color: #000;
    font-size: 18pt;
    font-weight: bold;
    /*text-outline: 1px 1px #fff;*/
    text-shadow: rgba(255, 255, 255, 0.9) -1px -1px 4px;
}

table.fileList {
    border-spacing: 0px;
    width: 100%;
}

table.fileList tr td {
    font-size: 13pt;
    height: 2em;
    padding: 0.25em;
    vertical-align: middle;
    cursor: pointer;
    text-overflow: ellipsis;
    overflow: hidden;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    overflow: hidden;
    
    /*
    background-color: rgb(206, 214, 235);
    background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, rgb(250,
        250, 250) ), color-stop(1, rgb(206, 214, 235) ) );
    background-image: -moz-linear-gradient(center bottom, rgb(250, 250, 250)
        0%, rgb(206, 214, 235) 100% );
    */
}


table.fileList tr.active td {
    background-color: rgb(255, 255, 138);
    /*
    background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, rgb(250,
        250, 250) ), color-stop(1, rgb(255, 255, 138) ) );
    background-image: -moz-linear-gradient(center bottom, rgb(250, 250, 250)
        0%, rgb(255, 255, 138) 100% );
    */
}

#login {
    float: right;
    margin-right: 4px;
    margin-top: 4px;
}

#right_status {
    float: right;
    height: 2em;
    padding-top: .3em;
    padding-right: .3em;
}

@media all and (orientation:portrait) {
}

@media all and (orientation:landscape) {
}

@media screen and (max-device-width: 480px) {
    /* html { -webkit-text-size-adjust:none; -ms-text-size-adjust:none; } */
}
