<?php

class DBConfig { // Database configuration
  public static $dbhost = 'localhost';
  public static $dbname = '';
  public static $dbuser = '';
  public static $dbpass = '';
};

class WSConfig { // Web server configuration
    public static $url = 'http://note5.jasonhanley.com/';
};
